.article__image {
    float: right;
    margin-left: 2em;
    width: 25%;
}

.article__title {
    display: block;
    font-size: 1.5em;
}

.article__title:visited {
    color: red;
}

.article__description {
    margin: .25em 0;
}